// partials
@import "_partials.scss";

header {
    background-color: $bg-dark ;
    color: $text-white;
    @include flexbox(space-between,center);
    padding: 0 $p-10;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: $p-10;
        margin: $p-10;

        li {
            font-size: map-get($map: $fonts-map, $key: "md");
            padding: $p-10;
            transition-duration: .3s;
            position: relative;

            &:hover {
                background-color: orange;
            }

            &:after{
                content: "";
                position: absolute;
                width: 2px;
                height: 22px;
                background-color: red;
                right: -20px;
            }

        }
    }

    button{
        @extend .button;
        background-color: yellowgreen;
    }
}